<template>
  {{ formatLength(length) }}
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'FormatLength',
  props: {
    length: {
      type: Number,
      required: true
    }
  },
  methods: {
    formatLength(secs: number): string {
      const sec_num = secs;
      const hours = Math.floor(sec_num / 3600);
      const minutes = Math.floor(sec_num / 60) % 60;
      const seconds = sec_num % 60;

      return [hours, minutes, seconds]
          .map(v => v < 10 ? "0" + v : v)
          .filter((v, i) => v !== "00" || i > 0)
          .join(":")
    },
  }
})
</script>

<style scoped>

</style>
