<template>
  {{ formatFileSize(bytes) }}
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'FormatFileSize',
  props: {
    bytes: {
      type: Number,
      required: true
    }
  },
  methods: {
    formatFileSize(bytes: number): string {
      const thresh = 1024;
      const dp = 1;
      const units = ['kB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']

      if (Math.abs(bytes) < thresh) {
        return bytes + ' B';
      }

      let u = -1;
      const r = 10**dp;

      do {
        bytes /= thresh;
        ++u;
      } while (Math.round(Math.abs(bytes) * r) / r >= thresh && u < units.length - 1);


      return bytes.toFixed(dp) + ' ' + units[u];
    },
  }
})
</script>

<style scoped>

</style>
