<template>
  <h1>/ <router-link :to="'/podcasts'">{{ $t('podcasts.title') }}</router-link> / {{ $t('podcasts.edit_title') }}</h1>
  <div class="creationBox">
    <div class="errorMessage">
      {{ msg }}
    </div>
    <div>
      <form @submit="create()" v-on:keyup.enter="create()">
        <div>
          <input type="text" class="textInput" :placeholder="$t('podcasts.feed_url_placeholder')" v-model="feed_url" required />
        </div>
        <div>
          <input type="button" class="button" @click="save()" :value="$t('podcasts.save_title')" />
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import Podcast from "@/model/Podcast";
import PodcastInterface from "@/model/PodcastInterface";
import { AxiosResponse } from 'axios';
import { defineComponent } from 'vue'
import EntityLoader from '../Lib/EntityLoader';
import HttpRequest from '../Lib/HttpRequest';

export default defineComponent({
  name: 'PodcastEdit',
  data() {
    return { 
      podcast: new Podcast() as PodcastInterface,
      msg: ''
    }
  },
  computed: {
    feed_url: {
      set: function(val: string): void {
        this.podcast.setFeedUrl(val.trim());
      },
      get: function(): string {
        return this.podcast.getFeedUrl();
      }
    },
  },
  async created(): Promise<void> {
    let podcastIdId = +this.$route.params.podcastId;
    if (podcastIdId !== 0) {
      EntityLoader.loadPodcast(podcastIdId).then((podcast: PodcastInterface) => this.podcast = podcast);
    }
  },
  methods: {
    async save(): Promise<void> {
      if (this.podcast.getId() === 0) {
        await this.create();
      } else {
        await this.persist();
      }
    },
    async create(): Promise<void> {
      HttpRequest.post(
        'podcast',
        {
          feed_url: this.podcast.getFeedUrl(),
        }
      ).then((response: AxiosResponse): void => {
        let data = response.data;
        if (data.msg) {
          this.msg = data.msg;
        } else {
          this.$router.push('/podcasts');
        }
      });
    },
    async persist(): Promise<void> {
      HttpRequest.put(
        '/podcast/' + this.podcast.getId(),
        {
          feed_url: this.podcast.getFeedUrl(),
        }
      ).then((response: AxiosResponse): void => {
        let data = response.data;
        if (data.msg) {
          this.msg = data.msg;
        } else {
          this.$router.push('/radiostations');
        }
      });
    },
  }
})
</script>

<style scoped>
div.creationBox {
  width: 500px;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.308);
  border: 1px #446683 solid;
  padding: 5px;
}

div.creationBox form div {
  display: block;
  margin: auto;
  width: 100%;
}

input[type=text], input[type=password] {
  width: 80%;
}

input[type=button] {
  width: 80%;
}
</style>
