<template>
  <h1>/ {{ $t('podcasts.title') }}</h1>
  <div class="create">
    <router-link :to="'/podcast/edit'">+ {{ $t('podcasts.create_title') }}</router-link>
  </div>
  <template v-if="podcasts !== null">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>{{ $t('podcasts.table.name_column') }}</th>
          <th>{{ $t('podcasts.table.last_update_column') }}</th>
          <th>{{ $t('podcasts.table.url_column') }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="podcast in podcasts" :key="podcast.getId()">
          <td class="cover">
            <router-link :to="'/podcast/' + podcast.getId()">
              <img :src="podcast.getImageUrl()" />
            </router-link>
          </td>
          <td>
            <router-link :to="'/podcast/' + podcast.getId()">
              {{ podcast.getTitle() }}
            </router-link>
          </td>
          <td>
            <FormatDateTime :date="podcast.getLastUpdateDate()" />
          </td>
          <td>
            <a :href="podcast.getLinkUrl()" target="_blank">{{ podcast.getLinkUrl() }}</a>
          </td>
          <td>
            <router-link :to="'/podcast/edit/' + podcast.getId()">
              <font-awesome-icon class="editButton button" :icon="['fas', 'tools']" :title="$t('podcasts.edit_title')" />
            </router-link>
            <font-awesome-icon class="deleteButton button" :icon="['fas', 'minus-circle']" v-on:click="deletePodcast(podcast)" :title="$t('podcasts.delete_title')" />
          </td>
        </tr>
      </tbody>
    </table>
  </template>
  <template v-else>
    <LoadingIcon />
  </template>
</template>

<script lang="ts">
import {EventTypes} from "@/components/Lib/EventTypes";
import FormatDateTime from "@/components/Lib/Format/FormatDateTime.vue";
import Podcast from "@/model/Podcast";
import PodcastInterface from "@/model/PodcastInterface";
import {Emitter} from "mitt";
import { defineComponent, inject } from 'vue'
import HttpRequest from '../Lib/HttpRequest';
import Player from '../Lib/Player';
import LoadingIcon from '../Lib/LoadingIcon.vue'
import { plainToInstance } from 'class-transformer';

export default defineComponent({
  name: 'PodcastList',
  data() {
    return { 
      podcasts: null as null|Array<PodcastInterface>
    }
  },
  setup() {
    const player = inject('ply') as Player;
    const emitter = inject('emitter') as Emitter<EventTypes>;

    return {
      player,
      emitter,
    };
  },
  components: {
    FormatDateTime,
    LoadingIcon
  },
  async created(): Promise<void> {
    await this.getPodcasts()
  },
  methods: {
    async getPodcasts(): Promise<void> {
      HttpRequest.get(`podcast`).then(res => {
        this.podcasts = res.data.items.map((data: object): PodcastInterface => {
          return plainToInstance(Podcast, data);
        });
      });
    },
    async deletePodcast(item: PodcastInterface): Promise<void> {
      HttpRequest.delete(`podcast/` + item.getId()).then((): void => {
        this.getPodcasts()
      });
    },
  }
})
</script>

<style scoped>
div.create {
  text-align: left;
}

td.cover {
  width: 90px;
}

td.cover img {
  width: 80px;
  height: 80px;
}

.deleteButton:hover {
  color: rgb(107, 0, 0);
}

.editButton {
  margin-right: 20px;
  color: #ffffff;
}

.editButton:hover {
  color: rgb(85, 57, 5);
}
</style>
