<template>
  <template v-if="podcast !== null">
    <h1>/ <router-link :to="'/podcasts'">{{ $t("podcasts.title") }}</router-link> / &bdquo;{{ podcast.getTitle() }}&rdquo;</h1>
    <div style="text-align: left">{{ podcast.getDescription() }}</div>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>{{ $t('podcasts.table.name_column') }}</th>
          <th>{{ $t('podcasts.table.url_column') }}</th>
          <th>{{ $t('podcasts.table.filesize_column') }}</th>
          <th>{{ $t('podcasts.table.length_column') }}</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="item in items" :key="item.getId()">
          <tr>
            <td rowspan="2">
              <font-awesome-icon class="playButton button" :icon="['fas', 'play']" v-on:click="play(item)" :title="$t('podcasts.play_item')" />
            </td>
            <td>{{ item.getTitle() }}</td>
            <td>
              <FormatDateTime :date="item.getPublishingDate()" />
            </td>
            <td>
              <FormatFileSize :bytes="item.getSize()" />
            </td>
            <td><FormatLength :length="item.getLength()"/></td>
          </tr>
          <tr>
            <td colspan="4">{{ item.getDescription() }}</td>
          </tr>
        </template>
      </tbody>
    </table>
  </template>
  <template v-else>
    <LoadingIcon />
  </template>
</template>

<script lang="ts">
import EntityLoader from "@/components/Lib/EntityLoader";
import {EventTypes} from "@/components/Lib/EventTypes";
import FormatDateTime from "@/components/Lib/Format/FormatDateTime.vue";
import FormatFileSize from "@/components/Lib/Format/FormatFileSize.vue";
import FormatLength from "@/components/Lib/Format/FormatLength.vue";
import HttpRequest from "@/components/Lib/HttpRequest";
import PodcastInterface from "@/model/PodcastInterface";
import PodcastItem from "@/model/PodcastItem";
import PodcastItemInterface from "@/model/PodcastItemInterface";
import {AxiosResponse} from "axios";
import {plainToInstance} from "class-transformer";
import {Emitter} from "mitt";
import { defineComponent, inject } from 'vue'
import Player from '../Lib/Player';
import LoadingIcon from '../Lib/LoadingIcon.vue'

export default defineComponent({
  name: 'PodcastView',
  data() {
    return { 
      podcast: null as null|PodcastInterface,
      items: null as null|Array<PodcastItemInterface>,
      podcastId: parseInt(this.$route.params.podcastId as string),
      offset: 0,
      limit: 15
    }
  },
  setup() {
    const player = inject('ply') as Player;
    const emitter = inject('emitter') as Emitter<EventTypes>;

    return {
      player,
      emitter,
    };
  },
  components: {
    FormatFileSize,
    FormatDateTime,
    FormatLength,
    LoadingIcon
  },
  beforeMount(): void {
    this.getPodcast();
    this.getItems();
  },
  methods: {
    getPodcast(): void {
      EntityLoader.loadPodcast(this.podcastId)
          .then((podcast: PodcastInterface): PodcastInterface => this.podcast = podcast);
    },
    async getItems(): Promise<void> {
      HttpRequest.get(
          'podcast/' + this.podcastId + '/items/' + this.limit + '/' + this.offset
      ).then((response: AxiosResponse) => {
        this.items = response.data.items.map((data: object): PodcastItemInterface => {
          return plainToInstance(PodcastItem, data);
        });
      });
    },
    async play(item: PodcastItemInterface): Promise<void> {
      this.player.playPodcastItem(item, this.emitter);
    },
  }
})
</script>

<style scoped>
</style>
